#project-gallery {
  margin: 5% 10%;
}

.project {
  padding: 0;
  width: 100%;
  height: 25vw;
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 40px solid white;
}
@media screen and (max-width: 1199px) {
  .project {
    height: 45vw;
  }
}
@media screen and (max-width: 991px) {
  .project {
    height: 50vw;
  }
}
@media screen and (max-width: 767px) {
  .project {
    height: 80vw;
  }
}
.project__info--title {
  font-size: 1.5vw;
  line-height: 0.8em;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  .project__info--title {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 420px) {
  .project__info--title {
    font-size: 1em;
  }
}
.project__info--text {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  color: #fff;
}
@media screen and (max-width: 420px) {
  .project__info--text {
    font-size: 0.75em;
  }
}
.project__name {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 1.5vw;
  line-height: 0.8em;
  color: #fff;
  background-color: #1145bb;
  width: 100%;
  font-weight: bold;
}
.project__name:hover {
  cursor: default;
}
@media screen and (max-width: 991px) {
  .project__name {
    font-size: 1.2em;
  }
}
.project__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #1145bb;
  overflow: hidden;
  opacity: 0.9;
  display: none;
}
.project__info-button {
  position: relative;
  font-size: 3vw;
  margin: 20px;
  z-index: 3;
  background-color: transparent;
  color: #fff;
  border: none;
}
.project__info-button:hover {
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .project__info-button {
    font-size: 1.2em;
  }
}

#project-item1 {
  background: url(../img/Portfolio/RealEstateTalk.png);
  background-size: cover;
  visibility: visible;
}

#project-item2 {
  background: url(../img/Portfolio/SaudiMade.png);
  background-size: cover;
  visibility: visible;
}

#project-item3 {
  background: url(../img/Portfolio/PNRC.png);
  background-size: cover;
  visibility: visible;
}

#project-item4 {
  background: url(../img/Portfolio/Artistix.png);
  background-size: cover;
  visibility: visible;
}

#project-item5 {
  background: url(../img/Portfolio/Rajmoti.png);
  background-size: cover;
  visibility: visible;
}

#project-item6 {
  background: url(../img/Portfolio/REC\ Student\ Portal.png);
  background-size: cover;
  visibility: visible;
}
#project-item7 {
  background: url(../img/Portfolio/Team\ Cord.png);
  background-size: cover;
  visibility: visible;
}
#project-item8 {
  background: url(../img/Portfolio/decor\ crafting.png);
  background-size: cover;
  visibility: visible;
}
#project-item9 {
  background: url(../img/Portfolio/Chatter.png);
  background-size: cover;
  visibility: visible;
}
#project-item10 {
  background: url(../img/Portfolio/Saffron\ Tales.png);
  background-size: cover;
  visibility: visible;
}
#project-item11 {
  background: url(../img/Portfolio/Saltireplay.png);
  background-size: cover;
  visibility: visible;
}
.tech {
  font-size: 12px;
  background-color: #e13138;
  border-radius: 8px;
  border: 2px solid #fff;
  padding: 5px;
}
/*# sourceMappingURL=gallery.css.map */
